use_aqua() {
  PATH_add "$(aqua root-dir)/bin"
  watch_file aqua.yaml aqua/policy.yaml aqua/registry.yaml
  aqua install -l
}

has aqua && use aqua
export AQUA_POLICY_CONFIG="$(expand_path aqua/policy.yaml)"
